name: "AudioStreaming CI"

on: 
  push:
    branches: 
      - main
      - hotfix
  pull_request:
    branches: 
      - '*'

jobs:
  iOS:
    name: Test iOS 
    runs-on: macOS-latest
    env: 
       DEVELOPER_DIR: /Applications/Xcode.app/Contents/Developer
    strategy:
      matrix:
        destination: ["OS=latest,name=iPhone 13 Pro"]
    steps:
      - uses: actions/checkout@v2
      - name: iOS - ${{ matrix.destination }}
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -project "AudioStreaming.xcodeproj" -scheme "AudioStreaming" -destination "${{ matrix.destination }}" clean test | xcpretty
